/* Typography imported from Google Fonts */
/* @import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400"); */

html {
  width: 100%;
}
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.container {
  display: grid;
}

.icon {
  display: none;
}
.header {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.514);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.otherContent {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.top_search_data{
  margin: 0% 5% 2% 30%; 
}

.top_search_data .fa{
  cursor: pointer;
}

.search_word{
  margin: 0% 5% 2% 5%;
  background-color: rgba(128, 128, 128, 0.514);
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: #000;
}

li {
  list-style-type: none;
}

header ul li a:hover {
  opacity: 0.6;
}

.content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5em;
}
.image img {
  border-radius: 50%;
}
.myName {
  margin-left: 60px;
}
.image {
  justify-self: center;
}
.about {
  margin: 5%;
}

footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(128, 128, 128, 0.514);
  height: 80px;
  align-items: center;
}

footer li {
  justify-self: center;
  margin-left: 40%;
}
.contact {
  margin-top: 50px;
}
input,
textarea,
select {
  font-size: 1em;
  width: 80%;
  height: 50px;
  border: solid;
  border-radius: 8px;
  margin: 0% 5% 2% 5%;
}
button {
  font-size: 1em;
  height: 50px;
  border: solid;
  border-radius: 8px;
  margin: 0% 5% 2% 20%;
  width: 50%;
  justify-self: center;
  background-color: rgba(128, 128, 128, 0.514);
  cursor: pointer;
}
#message {
  font-size: 1.3em;
  height: 100px;
}

.showData {
  display: grid;
  grid-template-rows: 1fr 1.3fr;
  margin: 5% 5% 5% 5%;
}
.names{
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
}
.languages{
  align-items: center;
}

.skills{
  display: grid;
  grid-template-columns: 1fr;
}
.projects a{
  height: 100px;
}
.skills img{
  margin: 0% 10% 10% 0%;
  height: 100px;
}
.definitions {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1119px) {
  .container {
    width: 100%;
  }
  .content {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
  }
  .otherContent {
    display: none;
  }
  .myName {
    width: 100%;
    font-size: 2em;
  }
  .image img {
    margin-left: 15%;
  }
  .home {
    align-self: center;
    font-size: 1.5em;
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 1fr;
  }
  .icon {
    display: grid;
  }
  .headerResponsive {
    background-color: gray;
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 100%;
    font-size: 1em;
  }

  .otherContentResposive {
    display: grid;
    font-size: 1.5em;
  }
  .index {
    align-self: center;
  }
  footer {
    height: 150px;
    font-size: 2em;
  }
  input{
    height: 100px;
  }
  .showData{
    margin: 1% 5% 5% 5%;
  }
  .skills img {
    margin: 10% 0% 10% 20%;
  }

}
