/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400");

html {
  width: 100%;
}
body {
  margin: 0px;
  min-height: 100%;
  width: fit-content;
}
.container {
  display: grid;

}

.header {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.514);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.otherContent {
  margin-top: 20px;
  margin-left: 80px;
  display: grid;
  justify-self: center;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1.8fr 1fr;
}

a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  color: #000;
}

li {
  list-style-type: none;
}

header ul li a:hover {
  opacity: 0.6;
}
/* .home {
  margin: 20px 0px 0px 100px ;
} */

.content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5em;
}
img {
  border-radius: 50%;
}
.myName {
  margin-left: 60px;
}
.image {
  justify-self: center;
}
.aboutMe {
  margin: 5%;
}

footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(128, 128, 128, 0.514);
  height: 80px;
  align-items: center;
}

footer li {
  justify-self: center;
}
.contactMe {
  margin-top: 50px;
}
input,
textarea {
  font-size: 1em;
  width: 80%;
  height: 50px;
  border: solid;
  border-radius: 8px;
  margin: 0% 5% 2% 5%;
}
button {
  font-size: 1em;
  height: 50px;
  border: solid;
  border-radius: 8px;
  margin: 0% 5% 2% 20%;
  width: 50%;
  justify-self: center;
  background-color: rgba(128, 128, 128, 0.514);
  cursor: pointer;
}
#message {
  font-size: 1.3em;
  height: 100px;
}
.icon {
  display: none;
}
@media screen and (max-width: 1119px) {
  .container {
    display: grid;
  }
  .content {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr;
  }
  .header{
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    font-size: 0.5em;
  }
  .otherContent {
    display: none;
  } 
  .myName {
    margin-left: -5%;
    width: 100%;
    font-size: 2em;
  }
  img {
    margin-left: 10%;
  }
  .home {
    align-self: center;
      font-size: 1.5em;
      display: grid;
      grid-template-columns: 6fr 1fr;
  }
  .icon {
    display: grid;
    font-size: 5em;
  }
  .headerResponsive{
    background-color: gray;
    font-size: 0.5em;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .otherContentResposive{
    display: grid;
    font-size: 1.5em;
    
  }
}
